<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Who We Are</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>The Niagara Palestine Coalition was founded in the wake of the October crisis in Palestine in 2023 and has members from diverse backgrounds,
          including Palestinians, Jews, Indigenous peoples from various nations across Turtle Island, academics, union activists, students, youth, and 
          retirees across the Niagara region of Ontario. It has organized weekly demonstrations in Niagara on Sundays as well as fundraisers, educational 
          events, and initiatives that aim to include perspectives from Indigenous communities within its advocacy work for Palestinian rights.</p>
      </div>
      <div class="col-lg-4">
        <p>Whether you're a student looking educate yourself, a worker who wants to contribute your skills, or
          just a human being who can't sit idly by during a genocide, you are more than welcome to join us in our fight for a free Palestine! </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="#contact" class="btn btn-lg btn-outline">
          <i class="fa fa-mail"></i> Contact Us Today!
        </a>
      </div>
    </div>
  </div>
</section>
