<!-- Contact Section -->
<section id="contact">
  <script>
    function prevDefault() {
      var pos = window.screenY;
       console.log("hello");
       console.log(pos);
       window.scrollTo(0,pos);
       window.onscroll = function () { window.scrollTo(0, pos); };
    }
 </script>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Contact US</h2>
        <hr class="star-primary">
      </div>
    </div>
    <iframe onload="prevDefault(this)" src="https://cryptpad.fr/form/#/2/form/view/uwWz-dyKfBnVohLKI8gBc7cxgsQn+yujHLUDTfAUSqk/embed/" title="Contact Us" width="100%" height="1412px" frameBorder="0">
    </iframe> 
  </div>

</section>
