<!-- About Section -->
<section class="success" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Donate</h2>
          <hr class="star-light">
        </div>
      </div>

      <div class="row">
        
        <div class="col-lg-4 col-lg-offset-1" style="margin-left: 9%;">
          <a href="https://www.zeffy.com/donation-form/d73bae8c-28e6-4a03-83f4-fbd00e58d81c" class="btn btn-lg btn-outline" target="_blank" rel="noopener noreferrer>
              <i class="fa fa-seedling"></i> Donate to the Niagara Palestine Coalition
            </a>
        </div>

        <div class="col-lg-2 col-lg-offset-1" style="margin-left: 8.5%;">
          <a href="https://www.zeffy.com/peer-to-peer/f8a71333-cb2a-477e-b216-78a6adcbada2" class="btn btn-lg btn-outline" target="_blank" rel="noopener noreferrer>
              <i class="fa fa-handshake"></i> Donate to the Niagara Gaza Families
            </a>
      </div>
      
    </div>
    <br>

      <div class="row">
        <div class="col-lg-5 col-md-offset-1">
          <p>The Niagara Palestine Coalition (NPC) is a beacon of hope and advocacy within the diverse community of Niagara region. As an organization deeply rooted in the principles of human rights, equality, and justice, NPC has been tirelessly working to amplify the voices of the Palestinian community, support that community, promote understanding, and foster meaningful dialogue about Palestine.

            We are at a pivotal moment in history where the cries for justice, peace and dignity have never been more urgent. The recent events have underscored the importance of standing together against discrimination, oppression, and violence. It is in this spirit that we launch our "Stand in Solidarity" donation campaign – a call to action for individuals, organizations, and businesses who believe in equity, diversity, and inclusivity.</p>
              
        </div>
        
        <div class="col-lg-5">
          <p>Alternativesly, you can join us in an act of solidarity and mutual aid as we come together to support the families of the Niagara Palestine Coalition. In times of hardship, it is the spirit of community and collective action that upholds us against adversity. This fundraiser is a testament to the power of unity and shared humanity in fostering resilience and empowerment among those who have faced displacement, colonization, and occupation.</p>
        </div>


      </div>
      <!-- <div class="row">
        
          <div class="col-lg-4 col-lg-offset-1" style="margin-left: 9%;">
            <a href="https://www.zeffy.com/donation-form/d73bae8c-28e6-4a03-83f4-fbd00e58d81c" class="btn btn-lg btn-outline">
                <i class="fa fa-seedling"></i> Donate to the Niagara Palestine Coalition
              </a>
          </div>

          <div class="col-lg-2 col-lg-offset-1" style="margin-left: 8.5%;">
            <a href="https://www.zeffy.com/peer-to-peer/f8a71333-cb2a-477e-b216-78a6adcbada2" class="btn btn-lg btn-outline">
                <i class="fa fa-handshake"></i> Donate to the Niagara Gaza Families
              </a>
        </div>

      </div> -->
      
    </div>
    <div class="row">
        <div class="col-lg-12 text-center" >
            <p> (note: donations to the Niagara Palestine Coalition are not tax deductible).</p>    
        </div>
        
    </div>
    
    <br>
  </section>
  